{{ partial "header.html" . }}

<body>
    <header>
        {{ partial "nav.html" . }}
    </header>

    <main>
        <section class="banner-ad">
            {{ partial "banner-ads.html" . }}
        </section>

        <section class="gallery">
		    {{ index .Site.Data.tagsDescription  .Title  | safeHTML }}
            <h2>Popular {{ .Title }} Games</h2>

            <div class="gallery-grid">
                <!-- Repeat this block for each game -->
				<!--In home index page put games with 'popular' tag-->
				
                {{ $index := 0 }}
				{{ range .Pages }}
				  {{ partial "gallery.html" (dict "Page" . "Index" $index) }}
				  {{ $index = add $index 1 }}
				{{ end }}
                <!-- End game block -->
            </div>
			
        </section>
		
		
		<aside>
          <section class="sidebar-ad">
            {{ partial "banner-ads.html" . }}
          </section>
        </aside>
		
    </main>


	{{ partial "footer.html" . }}
    
</body>
</html>