<footer>
        <div class="footer-section">
            <h4>📖 About Us</h4>
            <p>Enjoy playing our unblocked games for free! Perfect for fun, casual gaming.
Learn, play, and collaborate in a fun and interactive environment. Level up your gaming experience with our classroom6x games! No downloads required. 

</p>
        </div>
        <div class="footer-section">
            <h4>🔥 Top Gmaes 🔥</h4>
            <ul>
                <li>🏆 <a href="{{ "" | absLangURL }}">Popular</a></li>
                <li>⚔️ <a href="{{ "" | absLangURL }}action/">Action</a></li>
                <li>👾 <a href="{{ "" | absLangURL }}adventure/">Adventure</a></li>
                <li>🚗 <a href="{{ "" | absLangURL }}car/">Car</a></li>
                <li>🎮 <a href="{{ "" | absLangURL }}idle/">idle</a></li>
                <li>🔫 <a href="{{ "" | absLangURL }}shooting/">Shooting</a></li>
                <li>⚽ <a href="{{ "" | absLangURL }}sports/">Sports</a></li>
                <li>🎲 <a href="{{ "" | absLangURL }}skill/">Skill</a></li>
                <li>🚲 <a href="{{ "" | absLangURL }}bike/">Bike</a></li>
            </ul>
        </div>
        <!--div class="footer-section">
            <h4>Links</h4>
            <ul>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
            </ul>
        </div-->
        <div class="footer-section">
            <h4>Connects/Privacy</h4>
            <ul>
                <li>🌐 <a href="#">Website</a></li>
                <li>𝕏 <a href="#">Twitter</a></li>
                <li>📧 <a href="#">Contact</a></li>
                <li>🔐 <a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>