<nav>
	<ul>
	
	 <div class="nav-parts">
		<li><font class="game-emoji">🔥</font> <a href="{{ "" | absLangURL }}" >Hot</a></li>
		<li><a href="{{ "" | absLangURL }}action/">⚔️ Action</a></li>
		<li><a href="{{ "" | absLangURL }}adventure/">👾  Adventure</a></li>	
		<li><a href="{{ "" | absLangURL }}car/">🚗 Car</a></li>
	 </div>
	
    <div class="nav-parts">	
		<li><a href="{{ "" | absLangURL }}shooting/">🔫 Shooting</a></li>
		<li><a href="{{ "" | absLangURL }}sport/">⚽ Sports</a></li>
		<li><a href="{{ "" | absLangURL }}skill/">🏃 Skill</a></li>
		<li><a href="{{ "" | absLangURL }}idle/">🎮 idle</a></li>		
	 </div>
    
	</ul>
</nav>