<div class="banner-ad-content" style="padding: 50px; text-align: center;">
	    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
			<script>
			  window.googletag = window.googletag || {cmd: []};
			  googletag.cmd.push(function() {
				googletag.defineSlot('/23079347111/Displayads', [970, 250], 'div-gpt-ad-1724253101648-0').addService(googletag.pubads());
				googletag.pubads().enableSingleRequest();
				googletag.enableServices();
			  });
			</script>
							<!-- /23079347111/Displayads -->
			<div id='div-gpt-ad-1724253101648-0' style='min-width: 970px; min-height: 250px;'>
			  <script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1724253101648-0'); });
			  </script>
			</div>


							
			 <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
			<script>
				  window.googletag = window.googletag || {cmd: []};

				  // GPT ad slots
				  var anchorSlot_2;

				  googletag.cmd.push(function() {
					anchorSlot_2 = googletag.defineOutOfPageSlot('/23079347111/sticky', googletag.enums.OutOfPageFormat.BOTTOM_ANCHOR);
					anchorSlot_2.addService(googletag.pubads());

					 // Enable SRA and services.
					googletag.pubads().enableSingleRequest();
					googletag.enableServices();
					googletag.display(anchorSlot_2);
				  });
			</script>

				</div>