
<!-- Custom Cursor Start -->
    <div id="cursor-large"></div>
    <div id="cursor-small"></div>
    <!-- Custom Cursor End -->  
    
    <!-- Header Area Start -->
        <nav class="fag-header navbar navbar-expand-lg">
        <div class="container">
           
            <a class="navbar-brand" href="{{ "" | absLangURL }}"><img src="/img/logo.png" alt="site logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="menu-toggle"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="header_menu  mr-auto">
                    <!--li class="nav-item active">
                        <a href="index.html" class="nav-link">Home</a>
                    </li-->
                    <li class="nav-item">
                            <a href="{{ "" | absLangURL }}action/" class="nav-link">Action</a>
                    </li>
                    <li class="nav-item">
                            <a href="{{ "" | absLangURL }}adventure/" class="nav-link">Adventure</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "" | absLangURL }}bike/" class="nav-link">Bike</a>
                    </li>        
                    <li class="nav-item">
                            <a href="{{ "" | absLangURL }}car/" class="nav-link">Car</a>
                    </li>        
                    <li class="nav-item">
                        <a href="{{ "" | absLangURL }}idle/" class="nav-link">Idle</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "" | absLangURL }}shooting/" class="nav-link">Shooting</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "" | absLangURL }}skill/" class="nav-link">Skill</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ "" | absLangURL }}sport/" class="nav-link">Sport</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Header Area End -->
